.info{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-align: center;
    letter-spacing: 1pt;
}
.cat{
    text-align: center;
    margin-top: 50px;
}
.list{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 1pt;
    width: 100%;
    text-align:  center;
}
.text{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    letter-spacing: 1pt;
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
}
ul{
    margin: auto;
    display: inline-block;
}
.chose{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}
.number{
    display: inline-block}
li{
text-align: left;
}